:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 225);
  --cardHover: rgb(255, 255, 255);
}

.main {
  width: 100%;

  .secTitle {
    margin-top: -20px;
    .title {
      position: relative;
      width: max-content;
      color: var(--textColor);
      margin: 0;
      z-index: 2;

      .icon {
        font-size: 25px;
        padding-top: 3px;
      }
    }
  }

  .secTitle2 {
    margin-top: 40px;

    .title {
      position: relative;
      width: max-content;
      color: var(--textColor);
      margin: 0;
      z-index: 2;

      .icon {
        font-size: 25px;
        padding-top: 3px;
      }
    }
  }

  .secContent1 {
    justify-content: center;
    gap: 1.5rem;

    .slick-slide > div {
      margin: 0 10px;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

    .singleFood {
      height: 100%;
      display: grid;
      row-gap: 10px;
      border-radius: 10px;
      align-items: center;
      background: var(--cardBG);
      box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
      overflow: hidden;

      &:hover {
        background: var(--cardHover);
        box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
        transition: 0.3s ease;
      }

      .imageDiv {
        height: 250px;
        width: 100%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: 2s ease;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }

      .cardInfo {
        padding: 1rem;
        height: 160px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;

        .titleFood {
          .foodTitle {
            color: var(--blackColor);
            font-size: 1.25rem;
          }
        }

        .divButton {
          bottom: 30px;
          .button {
            margin-top: 1rem;
            color: var(--whiteColor);
            font-weight: 600;
            justify-content: space-between;
            gap: 0.5rem;

            .icon {
              align-self: center;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .secContent {
    justify-content: center;
    gap: 1.5rem;
    margin-top: 10px;

    .singleFood {
      height: 100%;
      display: grid;
      row-gap: 10px;
      // gap: 200px;
      //padding: 1rem;
      border-radius: 10px;
      align-items: center;
      background: var(--cardBG);
      box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
      overflow: hidden;

      &:hover {
        background: var(--cardHover);
        box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
        transition: 0.3s ease;
        transform: translateY(-10px);
      }

      .imageDiv {
        height: 250px;
        width: 100%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: 2s ease;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }

      .cardInfo {
        padding: 1rem;
        height: 160px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;

        .titleFood {
          .foodTitle {
            color: var(--blackColor);
            font-size: 1.25rem;
          }
        }

        .divButton {
          bottom: 0;
          .button {
            margin-top: 1rem;
            color: var(--whiteColor);
            font-weight: 600;
            justify-content: space-between;
            gap: 0.5rem;

            .icon {
              align-self: center;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

//MEDIA QUERIES ===============>
@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
  }

  .secContent {
    grid-template-columns: repeat(3, 1fr);

    .singleFood {
      height: auto;
    }
  }
}

@media screen and (min-width: 840px) {
  .secContent {
    grid-template-columns: repeat(3, 1fr);

    .singleFood {
      height: auto;
    }
  }
}
